//variables de couleurs

$primary_color: #101010; //noir titres
$secondary_color: #FFFFFF; //blanc
$third_color: #EAEAEA; //gris moyen
$third500_color: #7E7E7E; //gris moyen +
$third900_color: #353535; //gris foncé
$fourth_color: #0bc3e7; //bleu clair
$fourth500_color: #239fb9; //bleu moyen
$fourth900_color: #3498db; //bleu loader
$error_color: #ff0000; // rouge pour les erreurs