/********** variables de couleurs **********/

$background_color: #6096ba; // Bleu de supériorité
$background100_color: #274c77; // YinMn Bleu

$primary_color: #101010; // Noir
$primary100_color: #fefcfb; // Blanc
$secondary_color: #eff9f0; // Gris Crème de menthe
$secondary100_color: #d8b4a0; // Sable du desert
$secondary200_color: #66462c; // Gris Chardon

$option_color: #23f0c7; // Bleu Vert
$option1_color: #63c132; // Vert Kelly
$option2_color: #e84855; // Rouge Crayola
$option3_color: #f2bb05; // Ambre
$option4_color: #66462c; // Marron Kobicha
