@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.button {
  @include transition350;
  @include montserrat;
  color: $primary100_color;
  border: 2px solid $primary100_color;
  border-radius: 25px;
  padding: 6px 20px;
}
