@import "../utils/variables";
@import "../utils/mixins";

.modal__addProjets {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 688px;
  width: 630px;
  background-color: $secondary_color;
  border-radius: 5px;
  position: relative;
  padding: 30px;
  border-radius: 15px;

  .fa-arrow-left {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.8em;
    cursor: pointer;
  }

  .fa-xmark {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 1.8em;
    cursor: pointer;
  }

  h3 {
    @include text_font;
    font-size: 1.6em;
    position: absolute;
    top: 70px;
  }

  .error {
    color: $error_color;
    text-align: center;
    font-weight: 600;
    @include text_font;
    font-size: 1.05em;
    position: absolute;
    top: 115px;
    margin: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 420px;
    gap: 10px;

    .message__ok {
      color: $primary_color;
      text-align: center;
      font-weight: 600;
      @include text_font;
      font-size: 1.05em;
      position: absolute;
      top: 115px;
      width: 420px;
    }

    .modal__containerFile {
      background-color: #e8f1f6;
      height: 170px;
      width: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5px;
      margin: 35px auto 20px;

      .fa-image {
        color: $third500_color;
        font-size: 4.7em;
      }
      label {
        background-color: $third500_color;
        color: $fourth500_color;
        font-size: 0.9em;
        @include text_font;
        font-weight: 600;
        border-radius: 50px;
        padding: 11px 32px;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &:hover {
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
        }
      }
      input {
        display: none;
      }
      img {
        display: none;
        max-width: 100%;
        height: 100%;
        margin: auto;
      }
      p {
        color: $third900_color;
        @include text_font;
        font-weight: 400;
        font-size: 0.65em;
      }
    }
    .modal__label {
      font-size: 0.9em;
      font-weight: 600;
      @include text_font;
      color: $third900_color;
    }
    #modal__title,
    #modal__category {
      height: 51px;
      width: 420px;
      border: none;
      box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
      @include text_font;
      font-size: 1em;
      padding: 0;
      outline: none;
      margin: 2px auto 20px;
      color: $third900_color;
    }
  }
}
