@import "../utils/variables";
@import "../utils/mixins";

.modal__container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-top: -59px;

  .modal__projets {
    box-shadow: 0 4px 4px rgba($primary_color, 60%);
    height: 680px;
    width: 620px;
    background-color: $secondary_color;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 30px;

    .delete__message {
      color: $third900_color;
      @include text_font;
      font-weight: 400;
      position: absolute;
      top: 66px;
    }

    .fa-trash-can {
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: $secondary_color;
      border: 1px solid $third900_color;
      width: 20px;
      height: 22px;
      border-radius: 5px;
      box-shadow: 0 4px 4px rgba($primary_color, 30%);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .fa-xmark {
      position: absolute;
      top: 30px;
      right: 30px;
      cursor: pointer;
      font-size: 2em;
    }
    h2 {
      position: absolute;
      top: 30px;
      font-size: 2em;
      color: $third900_color;
      font-weight: 600;
    }
    .button {
      margin-bottom: 5px;
      width: 250px;
      font-size: 1.2em;

      &:before {
        content: "";
        position: absolute;
        height: 1px;
        width: 480px;
        background-color: rgba(128, 128, 128, 0.5);
        bottom: 110px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
